<template name="addItem">
    <div class="admin-modal">
        <div class="container">

            <h1>Добавить новый курс</h1>

            <form class="form-horizontal" role="form">

                <div class="row">
                    <div class="col-md-2">
                        <p>Alias:</p>
                    </div>
                    <div class="col-md-4">
                        <input type="text"/>
                    </div>
                    <div class="col-md-2">
                        Название:
                    </div>
                    <div class="col-md-4">
                        <input type="text"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <p>Кратко:</p>
                    </div>
                    <div class="col-md-4">
                        <input type="text"/>
                    </div>
                    <div class="col-md-2">
                        Описание:
                    </div>
                    <div class="col-md-4">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <p>Кратко:</p>
                    </div>
                    <div class="col-md-4">
                        <input type="text"/>
                    </div>
                    <div class="col-md-2">
                        Описание:
                    </div>
                    <div class="col-md-4">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>



            </form>
        </div>
    </div>
</template>