<template name="adminPanel">
    <div class="admin-panel">

        <div id="toggle-admin-panel">+</div>
        <div class="header">

            <div class="user-pic"></div>

            <h3>{{currentUser.profile.name}}</h3>
            <h2>{{currentUser.profile.surname}}</h2>

            <a id="open-dashboard" href="{{pathFor 'dashboard'}}">Открыть дэшборд</a>
            <hr/>
        </div>
        <div class="body">
            <button>События</button>
            <button>Курсы</button>
            <button>Тренеры</button>
        </div>


    </div>
</template>