<template name="dashboard">
    <section id="dashboard">
        <section id="topinfo">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <h4>Новые записи:</h4>
                        <p>32</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <h4>Горящие записи:</h4>
                        <p>3</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <h4>Необработанные записи:</h4>
                        <p>3</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <h4>Заявки на сотрудничество:</h4>
                        <p>3</p>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <section id="orders">
            <div class="container">
                <h2>Заказы:</h2>
            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>Имя</td>
                        <td>Телефон</td>
                        <td>Город</td>
                        <td>Курс</td>
                        <td>Дата</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Альберт</td>
                        <td>Альберт</td>
                        <td>Альберт</td>
                        <td>Альберт</td>
                        <td>Альберт</td>
                    </tr>
                    <tr>
                        <td>Альберт</td>
                        <td>Альберт</td>
                        <td>Альберт</td>
                        <td>Альберт</td>
                        <td>Альберт</td>
                    </tr>
                    <tr>
                        <td>Альберт</td>
                        <td>Альберт</td>
                        <td>Альберт</td>
                        <td>Альберт</td>
                        <td>Альберт</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            </div>
        </section>

        <section id="requests">
            <div class="container">
                <h2>Заявки:</h2>
                <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>Имя</td>
                            <td>Телефон</td>
                            <td>Город</td>
                            <td>Курс</td>
                            <td>Дата</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Альберт</td>
                            <td>Альберт</td>
                            <td>Альберт</td>
                            <td>Альберт</td>
                            <td>Альберт</td>
                        </tr>
                        <tr>
                            <td>Альберт</td>
                            <td>Альберт</td>
                            <td>Альберт</td>
                            <td>Альберт</td>
                            <td>Альберт</td>
                        </tr>
                        <tr>
                            <td>Альберт</td>
                            <td>Альберт</td>
                            <td>Альберт</td>
                            <td>Альберт</td>
                            <td>Альберт</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </section>

    </section>
</template>