<template name="dashboard">
    <div class="r-modal dashboard-edit-modal"></div>

    <section id="dashboard">
        <section id="topinfo">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>Новые записи:</h4>
                    <div>
                        <p>{{newOrders}}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Горящие записи:</h4>
                    <div>
                        <p>{{hotOrders}}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Новые предложения:</h4>
                    <div>
                        <p>{{newRequests}}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Подписчики:</h4>
                    <div>
                        <p>{{allSubscribers}}</p>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <section id="orders">
            <div class="container">
                <h2>Заказы:</h2>
            <div class="table-responsive">

                <table id="orders-table" class="table" data-target="order-modal">
                    <thead>
                    <tr>
                        <td>Имя</td>
                        <td>Телефон</td>
                        <td>Название</td>
                        <td>Дата</td>
                        <td>Город</td>
                        <td>Статус</td>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each orders}}
                    <tr data-id="{{_id}}"  class="{{status}}">
                        <td>{{name}}</td>
                        <td>{{tel}}</td>
                        <td>{{title}}</td>
                        <td>{{date}}</td>
                        <td>{{city}}</td>
                        <td>{{status}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>

            </div>
            </div>
        </section>

        <section id="requests">
            <div class="container">
                <h2>Заявки:</h2>
                <div class="table-responsive">

                    <table id="requests-table" class="table" data-target="request-modal">
                        <thead>
                        <tr data-id="{{_id}}">
                            <td>Имя</td>
                            <td>Телефон</td>
                            <td>Город</td>
                            <td>Тема</td>
                            <td>Статус</td>
                        </tr>
                        </thead>
                        <tbody>

                        {{#each requests}}
                        <tr class="{{status}}" data-id="{{_id}}">
                            <td>{{name}}</td>
                            <td>{{tel}}</td>
                            <td>{{city}}</td>
                            <td>{{theme}}</td>
                            <td>{{status}}</td>
                        </tr>
                        {{/each}}

                        </tbody>
                    </table>

                </div>
            </div>
        </section>

    </section>
</template>


<template name="orderModal">
        {{#with order}}
        <div class="close"><span class="glyphicon glyphicon-remove-sign"></span></div>
        <div class="header" data-id="{{_id}}"><h1>{{title}}</h1> <h3>{{date}}</h3></div>
        <div class="body">
            <div class="row">
                <div class="col-md-3">
                    Имя:
                </div>
                <div class="col-md-9">
                    {{name}} {{secondName}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Телефон:
                </div>
                <div class="col-md-9">
                    {{tel}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    E-mail:
                </div>
                <div class="col-md-9">
                    {{email}}
                </div>
            </div>
            {{#if hasAdditional additional}}
            <div class="row">
                <div class="col-md-3">
                    Дополнительно:
                </div>
                <div class="col-md-9">
                    {{additional}}
                </div>
            </div>
            {{/if}}
        </div>
        <div class="row controls">
            <div class="col-md-4"><button class="delete"><i class="fa fa-times"></i></button></div>
            <div class="col-md-4"><button class="recall"><i class="fa fa-phone"></i></button></div>
            <div class="col-md-4"><button class="done"><i class="fa fa-check"></i></button></div>
        </div>
        {{/with}}
</template>

<template name="requestModal">
        {{#with request}}
        <div class="close"><span class="glyphicon glyphicon-remove-sign"></span></div>
        <div class="header" data-id="{{_id}}"><h1>{{name}} {{secondName}}</h1> <h3>{{city}}</h3></div>
        <div class="body">
            <div class="row">
                <div class="col-md-3">
                    Тема:
                </div>
                <div class="col-md-9">
                    {{theme}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Телефон:
                </div>
                <div class="col-md-9">
                    {{tel}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    E-mail:
                </div>
                <div class="col-md-9">
                    {{email}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Текст:
                </div>
                <div class="col-md-9">
                    {{text}}
                </div>
            </div>
        </div>
        <div class="row controls">
            <div class="col-md-4"><button class="delete"><i class="fa fa-times"></i></button></div>
            <div class="col-md-4"><button class="recall"><i class="fa fa-phone"></i></button></div>
            <div class="col-md-4"><button class="done"><i class="fa fa-check"></i></button></div>
        </div>
        {{/with}}
</template>