<template name="course">

    <div id="get-course-modal" class="r-modal">
        <div class="close"><span class="glyphicon glyphicon-remove-sign"></span></div>
        <div class="header">
            ЗАПИСЬ НА КУРС <br>
            <span>{{course.title}}</span>
        </div>
        <div class="body">
            <form id="first-form" action="">
                <div class="checkout-slide" style="width: 556px;">
                    <div>
                        <input type="text" class="required" data-rule-minlength="2" name="firstName" id="first-name" placeholder="ИМЯ*">
                        <input type="text" class="required" data-rule-minlength="2" name="secondName" id="second-name" placeholder="ФАМИЛИЯ*">
                    </div>
                    <div>
                        <input type="tel" class="required phone" data-rule-minlength="2" name="tel" id="tel" placeholder="ТЕЛЕФОН*">
                        <input type="email" class="required email" data-rule-minlength="2" name="email" id="email" placeholder="E-MAIL*">
                        <input id="event" type="hidden" value="{{event}}"/>
                        <input id="courseTitle" type="hidden" value="{{course.title}}"/>
                        <input id="courseDate" type="hidden" value="{{date}}"/>
                        <input id="city" type="hidden" value="{{city.name}}"/>
                    </div>
                    <textarea name="" id="additional" cols="30" rows="3" placeholder="ЕСТЬ ЧТО ДОБАВИТЬ?"></textarea>
                    <button class="further">ДАЛЕЕ <span class="glyphicon glyphicon-arrow-right icon-white"></span>
                    </button>
                </div>
            </form>
            <form id="second-form">
                <div class="checkout-slide" style="width: 556px;">
                    <div>

                        <div>
                            <div id="got-notebook" class="custom-select" data-value="0">
                                <p>Есть свой ноутбук</p>
                                <i></i>
                                <ul>
                                    <li data-value="0">Есть свой ноутбук</li>
                                    <li data-value="1">Нужно предоставить</li>
                                </ul>
                                <input class="value" type="hidden" value="0"/>
                            </div>
                        </div>


                        <div>
                            <div id="system" class="custom-select" data-value="windows">
                                <p>Windows</p>
                                <i></i>
                                <ul>
                                    <li data-value="windows">Windows</li>
                                    <li data-value="mac">Mac OSX</li>
                                    <li data-value="linux">Linux</li>
                                </ul>
                                <input class="value" type="hidden" value="windows"/>
                            </div>
                        </div>

                        <div id="radio-cont">
                            <div class="radio">
                                <input type="radio" name="payment" checked="checked" value="cash">ОПЛАТА НАЛИЧНЫМИ
                            </div>
                            <div class="radio">
                                <input type="radio" name="payment" value="card">ОПЛАТА КАРТОЙ
                            </div>
                        </div>
                        <div>
                            <div class="radio">
                                <input type="radio" name="payment" value="cash">ОПЛАТА НАЛИЧНЫМИ
                            </div>
                            <div class="radio">
                                <input type="radio" name="payment" value="cash">ОПЛАТА КАРТОЙ
                            </div>
                        </div>
                    </div>
                    <div class="total">
                        СУММА: <br>
                        <span>5000р</span>
                    </div>
                    <button class="get-back"><span class="glyphicon glyphicon-arrow-left icon-white"></span> НАЗАД
                    </button>
                    <button class="go">ПОЕХАЛИ!</button>
                </div>
            </form>
        </div>
    </div>

    {{#with course}}

    <section id="course-pic" data-velocity=".8" style="background-image: url(/img/{{pic}});">
        <div class="container">
            <h1 data-velocity=".8">{{title}}</h1>
            <h2 data-velocity=".8">{{shortDesc}}</h2>
            <h3 data-stellar-ratio="1.4">{{price}}<i class="fa fa-rouble"></i></h3>
        </div>
    </section>

    <section id="course-content" data-price="{{price}}" data-event="{{../event}}">

        <div class="rotated"></div>


        <div class="container">
            <div class="row">
                <article>

                    <h2>О КУРСЕ</h2>

                    <p class="desc">{{desc}}</p>

                    <h2>ПРОГРАММА</h2>

                    <div id="schedule">

                        <div>
                            <h4>Суббота</h4>

                            {{{schedule.saturday}}}

                        </div>

                        <div>
                            <h4>Воскресенье</h4>

                            {{{schedule.sunday}}}

                        </div>

                    </div>

                    <h2>О ТРЕНЕРЕ</h2>

                    <div id="coach">

                        {{#with trainer}}


                        <div>
                            <img src="/img/{{pic}}" alt="">

                            <p>{{#each skills}}{{this}} {{/each}}</p>
                        </div>
                        <div>
                            <p>
                                <span>{{name}}</span>
                                <span>{{secondName}}</span>
                                {{about}}
                            </p>
                            <i></i>

                        </div>

                        {{/with}}


                    </div>


                </article>

                <aside>

                    <h3>Адрес: </h3>

                    <p class="city">{{city.name}}</p>

                    <h3>Ближайшие даты:</h3>

                    <p class="dates">
                        {{date}}
                    </p>

                    <h3>Вы изучите:</h3>

                    <ul>

                        {{{skills}}}

                    </ul>

                    <h3>Пройденные темы:</h3>

                    <ul>

                        {{{topics}}}

                    </ul>

                    <h3>Требования</h3>

                    <ul>

                        {{{require}}}

                    </ul>

                    <button id="get-course" data-course="html5" class="animated tada">ЗАПИСАТЬСЯ</button>

                    <h3>Либо по телефону:</h3>

                    <p class="dates">
                        {{city.phone}}
                    </p>

                </aside>
            </div>
        </div>

    </section>

    {{/with}}



</template>