<template name="home">

    <section id="slider">
        <div id="slider-arrows" class="container">
            <i class="icons arrow-left"></i>
            <i class="icons arrow-right"></i>
        </div>
        <ul>
            <li>
                <div id="pic1" class="slider-pic"></div>
                <div class="container">
                    <div class="animating slider-header">Самый классный</div>
                    <div class="animating slider-header">способ</div>
                    <div class="animating slider-header">изучать новое</div>
                </div>
            </li>
            <li>
                <div id="pic2" class="slider-pic"></div>
                <div class="container">
                    <div class="animating slider-header">Уникальный</div>
                    <div class="animating slider-header">подход</div>
                    <div class="animating slider-header">к обучению</div>
                </div>
            </li>
            <li>
                <div id="pic3" class="slider-pic"></div>
                <div class="container">
                    <div class="animating slider-header">Преподаватели -</div>
                    <div class="animating slider-header">мастера</div>
                    <div class="animating slider-header">своего дела</div>
                </div>
            </li>
        </ul>
    </section>

    <section id="slider-controls">

        <div class="container">
            <ul>
                <li class="_active">
                    <p class="tltp">
                        Наша концепция
                        <i></i>
                    </p>
                    <i class="icons slide-icon sc1"></i>
                </li>
                <li>
                    <p class="tltp">
                        Что это вообще?
                        <i></i>
                    </p>
                    <i class="icons slide-icon sc2"></i>
                </li>
                <li>
                    <p class="tltp">
                        как мы живем!
                        <i></i>
                    </p>
                    <i class="icons slide-icon sc3"></i>
                </li>
            </ul>
        </div>
    </section>

    <section id="slider-info">
        <div class="rotated"></div>
        <div class="container">
            <ul>
                <li class="_active">
                    <p> Информация отобранная годами практики, упакованная в 2-х дневный интенсив. Мы акцентируем вимание на формировании. Лучший и единственный способ что-то освоить на хорошем уровне - это практика! Именно на нее мы и делаем основной упор!</p>
                    <p>
                        Изучайте новое самым интуитивным и простым способом! Быстро и эффективно
                        <i class="icons quot-left"></i>
                        <i class="icons quot-right"></i>
                    </p>
                </li>
                <li>
                    <p> Забудьте про скучные и бесполезные учебники и таториалы, по-настоящему вы поймете материал только на практике под присмотром профессионалов, остальное либо не имеет результата, либо занимает слишком много времени</p>
                    <p>
                        Мы строим процесс обучения исключительно на практике и минимально необходимой теории!
                        <i class="icons quot-left"></i>
                        <i class="icons quot-right"></i>
                    </p>
                </li>
                <li>
                    <p>Мы четко структурируем информацию, выделяем только основное, и мякго каждым понятному языком объясняем вам суть процессов. Затем закаляем эти знания практикой, когда в сложные моменты вас направляет профессионал </p>
                    <p>
                        Вы нашли то что вам нужно! Уже 5000 человек изменили себя пройдя наш курс!
                        <i class="icons quot-left"></i>
                        <i class="icons quot-right"></i>
                    </p>
                </li>
            </ul>
        </div>

    </section>

    <section id="home-content">
        <div class="rotated"></div>
        <div class="container">
            <div>
                <div id="top-courses">
                    <h3>ТОП-КУРСЫ:</h3>

                    {{#each events}}

                        {{>popCourseItem}}

                    {{/each}}


                    <a href="/courses">ПОСМОТРЕТЬ ВСЕ КУРСЫ</a>
                </div>
                <div id="twitter-feed">
                    <h3>TWITTER:</h3>
                    <div class="item">
                        <h3>24 января 2014</h3>
                        <p>Друзья, сегодня великий день, мы назначили новые организационные моменты, теперь все вкусно!</p>
                    </div>
                    <div class="item">
                        <h3>24 января 2014</h3>
                        <p>Друзья, сегодня великий день, мы назначили новые организационные моменты, теперь все вкусно!</p>
                    </div>
                    <div class="item">
                        <h3>24 января 2014</h3>
                        <p>Друзья, сегодня великий день, мы назначили новые организационные моменты, теперь все вкусно!</p>
                    </div>
                    <div class="item">
                        <h3>24 января 2014</h3>
                        <p>Друзья, сегодня великий день, мы назначили новые организационные моменты, теперь все вкусно!</p>
                    </div>
                    <div class="item">
                        <h3>24 января 2014</h3>
                        <p>Друзья, сегодня великий день, мы назначили новые организационные моменты, теперь все вкусно!</p>
                    </div>
                    <a href="">все твиты</a>
                </div>
            </div>
        </div>
    </section>

    <section id="subscribe" data-stellar-background-ratio="0.3">
        <h1>Будьте в курсе!</h1>
        <h3>Получайте информацию о новых курсах</h3>
        <input type="email">
        <input type="submit" value="Подписаться!">
    </section>

</template>


<template name="popCourseItem">

    {{#with course}}

    <div class="item" data-alias="{{alias}}">

        <div class="type pro" data-type="{{type}}"></div>

        <div class="image">
            <div id="border-radius-fix"></div>
            <div class="border-overlay"></div>
            <div class="pic" style="background-image: url(img/{{pic}})"></div>
            <h5 data-price="{{price}}">{{price}}<i class="fa fa-rouble"></i></h5>
        </div>


        <div class="desc">
            <h3>{{title}}</h3>
            <p>{{shortDesc}}</p>
        </div>

        <div class="info">
            <h6>{{getDate ../date}}</h6>
        </div>

    </div>

    {{/with}}

</template>