<template name="layout">



    <div class="modal-overlay"></div>

    <div id="admin-login-modal">

        <div class="body">

            <div class="close"><span class="glyphicon glyphicon-remove-sign"></span></div>

            {{loginButtons}}

        </div>

    </div>

    {{#if isInRole 'admin'}}
        {{>adminPanel}}
    {{/if}}

    {{>collabModal}}

    <header class="navbar navbar-default" role="navigation">

        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" id="logo">
                    <img src="/img/logo2.png" alt="GEEKWEEKEND">
                </a>

            </div>

            <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li><a href="{{pathFor 'about'}}">О ПРОЕКТЕ</a></li>
                    <li><a class="accent" href="{{pathFor 'courses'}}">КУРСЫ</a></li>
                    <li><a class="collab-link" href="">СОТРУДНИЧЕСТВО</a></li>
                    <li><a href="{{pathFor 'contacts'}}">КОНТАКТЫ</a></li>
                </ul>

            </nav>
        </div>

        <div class="rotated"></div>

    </header>


    <div class="main">
        {{yield}}
    </div>

    <footer>
        <div class="rotated"></div>
        <div class="container">
            <div>
                <div>
                    <div><a id="vk" href="http://facebook.com"><i class="fa fa-vk"></i></a></div>
                    <div><a id="facebook" href="http://vk.com"><i class="fa fa-facebook"></i></a></div>
                    <div><a id="twitter" href="http://twitter.com/geek_weekend"><i class="fa fa-twitter"></i></a></div>
                </div>
                <div>
                    <nav>
                        <ul>
                            <li><a href="{{pathFor 'about'}}">О ПРОЕКТЕ</a></li>
                            <li><a href="{{pathFor 'courses'}}">КУРСЫ</a></li>
                            <li><a class="collab-link">СОТРУДНИЧЕСТВО</a></li>
                            <li><a href="{{pathFor 'contacts'}}">КОНТАКТЫ</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

</template>